@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


.satisfy {
    font-family: "Satisfy", cursive;
  }

  .testimonial-container{
    background-color: #e6eff8;
  }

  .car_brand {
    max-width: 1200px;
    margin: 0 auto;
    margin-right: 2.2rem;
  }
  
  .brand-logo {
    padding: 10px;
    text-align: center;
  }
  
  .brand-logo img {
    max-width: 100%;
    height: auto;
  }
  

  @media (max-width: 1024px) {
    .brand_h1 {
      font-size: 22px;
    }
    
    .brand-logo {
      padding: 8px;
    }
  }
  
  @media (max-width: 768px) {
    .brand_h1 {
      font-size: 20px;
    }
  
    .brand-logo {
      padding: 6px;
    }
  }
  
  @media (max-width: 480px) {
    .brand_h1 {
      font-size: 18px;
    }
  
    .brand-logo {
      padding: 4px;
    }
  }

  .slick-prev::before{
    display: none;
  }
  .slick-next::before{
    display: none;
  }
  .slick-dots {
    
    bottom: -43px !important;
  }
  .slick-dots li button::before{
    bottom: -43px !important;
    font-size: 10px !important;
  }
  .slick-dots li.slick-active button::before {
    content: ''; /* No need for text content, just shape it */
    width: 25px !important; /* Make the width longer to create a dash */
    height: 4px !important; /* Shorten the height for the dash */
    border-radius: 2px !important; /* Make it slightly rounded */
    background-color: rgba(255, 0, 0, 0.63) !important; /* Color the dash red */
    opacity: 1; /* Ensure the active dot is fully opaque */
  }
